/* css styles */
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: #f6edda;
  }
      
      
      
.text-overlay {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.50;
  padding: 10px;
}